/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.custom-header-border {
    border-bottom-width: 3px !important;
    border-bottom-color: #000 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    content:var(--bs-breadcrumb-divider, ">") !important;
}

.form-label.required:after {
    content: "*";
    color: red;
}

.error-modal {
    background-color: #fbd3db;
    color: #933d4e;
}

.mapping-modal-height {
    height: 700px;
}
